{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron">
        <h3>Beer Explorer</h3>
        Look through top 250 Beer Advocate beers!
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4" style="background-color:white;">
        <div class="list-group list-group-flush scrolly">
          {% for i,b in all_beers %}
          <a href={{ i }} class="list-group-item list-group-item-action">{{ b }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8" style="background-color:white;">
        <img src="{{url_for('static', filename = beer + '.png')}}" class="img-rounded"/>
        <br>
        {{ beer_stats[0] }}
        <br>
        {{ beer_stats[1] }}
        <br>
        {{ beer_stats[2] }}
      </div>
    </div>
  </div>

{%- endblock %}
